<h1><%= @student.first_name %><%= " " %><%= @student.last_name %></h1>
<div class="student-show mb-5" style="width: 650px;margin: auto;">
<%#= @student.first_name<%= " " %><%#= @student.last_name %>
<p id="student-coins"><%= image_tag ("Tiles/coin_shop_3.png"), class: "coins-row" %><%= @student.coins%></p>
<p id="student-birth"><%= image_tag ("birthday_cake.png"), class: "cake-row" %><%= @student.date_of_birth.strftime('%d %b %Y') %></p>
<div class="achievements">
<h1 style="font-size: 40px;"><%= image_tag "10_start.png", class: "achiev-star"%> Achievements <%= image_tag "10_start.png", class: "achiev-star"%></h1>
  <% if @my_missions_completed.empty? %>
    <h2 style="style=padding: 10px;font-size: 20px;"> Sorry no achievements ... yet 🤓 </h2>
</div>
  <% else %>
  <div class="missions-cards">
    <% @my_missions_completed.each do |m| %>
    <div class="student-mission">
      <div class="achiev-card">
        <%= image_tag "gold_trophy3.png", class: "trophy"%>
          <p><%= m.name.upcase %></p>
      </div>
      <div class="description d-none" data-insert-in-list-target="description">
        <p class ="mission_description"><%= m.description %></p>
      </div>
      </div>
    <% end %>
    <% end %>
    </div>
  </div>
</div>
