<%= link_to "back to rewards", rewards_path, class: 'btn' %>

<h1> Reward</h1>
<div class="student-show">
  <p><%= link_to @reward.title, new_reward_reward_transaction_path(@reward), class: 'link' %></p>
  <h3><%= @reward.description %></h3>
  <h3><%= @reward.price %><%= image_tag ("Tiles/coin_shop_3.png"), class: "coins-row" %></h3>
</div>
