<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-page">
    <div class="d-flex justify-content-between">
      <div class="logo-div">
        <%= link_to root_path ,class: "navbar-brand" do %>
          <%= image_tag "logo.png", id: "logo"%>
        <% end %>
          <%= image_tag "gamify.png", id:"gamify-logo" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       </div>
      <ul class="navbar-nav">
          <% if user_signed_in? %>
          <div class="nav-icons">
          <div class="icon">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_ei7frqcx.json"  background="transparent"  speed="1"  style="width: 50px; height: 50px;" loop autoplay  ></lottie-player>
          </div>
              <%= link_to "Home", root_path, class: "nav-link" %>
          </div>
          <div class="nav-icons">
          <div class="icon">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets6.lottiefiles.com/private_files/lf30_irme4vjh.json"  background="transparent"  speed="1"  style="width: 30px; height: 30px;" loop autoplay  ></lottie-player>
          </div>
              <%= link_to "Rewards", rewards_path(@rewards), class: "nav-link" %>
          </div>
          <div class="nav-icons">
          <div class="icon" id="class-icon">
              <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
              <lottie-player src="https://assets2.lottiefiles.com/private_files/lf30_IHXuk5.json"  background="transparent" speed="1"  style="width: 30px; height: 30px" loop  autoplay ></lottie-player>
            </div>
                <%= link_to "Classroom", classroom_students_path(@classroom), class: "nav-link" %>
          </div>
          <div class="nav-icons">
          <div class="icon">
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_evrce8mt.json"  background="transparent"  speed="1"  style="width: 45px; height: 45px;" loop autoplay  ></lottie-player>
          </div>
              <%= link_to "Missions", classroom_missions_path(@classroom), class: "nav-link" %>
          </div>
            <li id="nav-teacher">
              <%= image_tag "https://st.depositphotos.com/2400497/2931/v/600/depositphotos_29310763-stock-illustration-cartoon-professor.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</div>
