<div class="container">
  <h1> Who finished the mission?</h1>

  <div data-controller = "change-checkbox" >

    <%= form_tag update_collection_mission_setups_path, remote: true,  method: :patch do |form| %>
      <%# <p class = "confirm-button position-text"> Confirm</p> %>
      <%#= image_submit_tag("buttons/35_bttn/bttn-big28.png", class: "image-button") %>
      <%= submit_tag "Confirm", class: "confirm-button" %>
      <% @mission_setups.each do |mission_setup| %>
        <% student = Student.find(mission_setup.student_id) %>
        <%= fields_for "mission_setups[]", mission_setup do |f| %>
          <div class = "row-leaderboard mt-4" style = "margin: auto">
            <%= image_tag (cl_image_path student.photo.key), class: "ava-row" %>
            <p class = "name-text"><%="#{student.first_name}"  %></p>
            <div>
              <%= f.check_box :completion, class: "check-box", id: mission_setup.id %>
              <%= f.label :completion, data: {  action: "click->change-checkbox#change", setup: mission_setup.id }, id: "check" do  %>
                <%= image_tag ("100_icons/little/8_ok.png")%>
              <% end %>
            </div>
          </div>
          <%= f.submit "Salvar", class: "d-none" %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
