<div class="container">
  <h1>Update Mission </h1>

  <%= simple_form_for [@mission] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :coins %>
    <%= f.input :time_length %>
    <%= f.button :submit %>
  <% end %>
</div>
