<div class="container py-10">
<h1>All the missions</h1>

<%# <a href="new_classroom_mission_path(@classroom)" class="btn btn-info btn-sm active" role="button" aria-pressed="true">Create a mission</a> %>
<%= link_to "Create a mission", new_classroom_mission_path(@classroom), class: "btn btn-info btn-sm active" %>

<div class="missions-cards">
  <% @missions.each do |mission| %>
    <div class='mission-card'>
      <%= image_tag "rocket.png", class: "mission-photo" %>
      <strong> <%= mission.name %> </strong>
        <div class="card-mission-bottom">
          <div class="card-mission-bottom-left">
           <p> <%= mission.coins %> <i class="fa fa-coins"></i> </p>
          </div>
            <div class="card-bottom-right">
                <%= simple_form_for([mission, @mission_setup], remote: true) do |f|%>
                  <%= f.submit %>
                <% end%>
               <a href="url"><i class="fas fa-play"></i></a>
               <a href="url"><i class="fas fa-info"></i></a>
            </div>
        </div>
     </div>
  <% end %>
</div>
