<div class="container py-10">
<h1>All the missions</h1>

<%# <a href="new_classroom_mission_path(@classroom)" class="btn btn-info btn-sm active" role="button" aria-pressed="true">Create a mission</a> %>
<%= link_to "Create a mission", new_classroom_mission_path(@classroom), class: "btn btn-info btn-sm active" %>

<div class="missions-cards">
  <% @missions.each do |mission| %>
    <div class='mission-card'  data-controller="insert-in-list">
      <%= image_tag "rocket.png", class: "mission-photo" %>
      <strong> <%= mission.name %> </strong>
        <div class="card-mission-bottom" data-insert-in-list-target="cardBottom" >
          <div class="card-mission-bottom-left">
           <p> <%= mission.coins %><i class="fa fa-coins"></i> </p>
          </div>
            <div class="card-bottom-right">
              <div data-insert-in-list-target="items">
              </div>
                <%= simple_form_for([mission, @mission_setup], remote: true, data: { insert_in_list_target: "form"} ) do |f|%>
                  <%= f.submit style: 'display: none', id: 'start'%>

                  <i data-action="click->insert-in-list#send" class="fas fa-play"></i>
                   <i data-action="click->insert-in-list#info" class="fas fa-info"></i>
                <% end%>
                <p class="d-none" data-insert-in-list-target="description"><%= mission.description %> </p>
            </div>
        </div>
     </div>
  <% end %>
</div>
