<div class="container-page">
  <h1>New Mission</h1>
  <div class="container-form">
    <%= simple_form_for [@classroom, @mission] do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :coins %>
      <%= f.input :length %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
