<!DOCTYPE html>
<html>
  <head>
    <title>Gamify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
    <% if current_page?(root_path) %>
    <body style="background-image: url(<%= asset_path '1.png' %>);">
    <% elsif current_user && current_page?(classroom_students_path(current_user.classroom))%>
    <body style="background-image: url(<%= asset_path '2.png' %>);">
    <% elsif current_user && current_page?(classroom_missions_path(current_user.classroom))%>
    <body style="background-image: url(<%= asset_path '4.png' %>);">
    <%##elsif current_user && current_page?(students_path)%>
    <%# <body style="background-image: url(<%= asset_path '4.png' %>
    <% else %>
    <body style="background-image: url(<%= asset_path '1.png' %>);">
    <% end %>
      <%= render 'shared/navbar', class: @classroom %>
      <div class="container-page">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </div>
</html>
